@page
@model IndexModel
@{
    ViewData["Title"] = "Választás 2022 - Egységben Magyarországért";
}

<div class="text-center">
    <h1 class="display-4">Települések lakosság- és választópolgárszáma</h1>
    @if (DataStore.IsEmpty)
    {
        <p><h2>Még nincsenek adatok, frissítsd az oldalt!</h2></p>
        <p>
            Töltsd le a teljes listát a
            <a href="https://www.valasztas.hu/telepulesek-lakossag-es-valasztopolgarszama" target="_blank">Választási Iroda oldaláról</a>.
        </p>
    }
    else
    {
        <p>
            Töltsd le a teljes listát a
            <a href="https://www.valasztas.hu/telepulesek-lakossag-es-valasztopolgarszama" target="_blank">Választási Iroda oldaláról</a>, vagy
            <a href="/data/lakossag-data.json">JSON formátumban</a>.
        </p>
        <br />
        <p>
            <div>
                <h5>Legnagyobb gyarapodás december óta</h5>
                <h3>
                    +@DataStore.LakossagData.MaxIncrease?.Difference fő
                    (@DataStore.LakossagData.MaxIncrease?.Name @DataStore.LakossagData.MaxIncrease?.Index)
                </h3>
            </div>
            <div>
                <h5>Legnagyobb százalékos gyarapodás</h5>
                <h3>
                    +@DataStore.LakossagData.MaxIncreasePercent?.DifferencePercent.ToString("F") %
                    (@DataStore.LakossagData.MaxIncreasePercent?.Name @DataStore.LakossagData.MaxIncreasePercent?.Index)
                </h3>
            </div>
            <br />
            <div>
                <h5>Legnagyobb csökkenés</h5>
                <h3>
                    @DataStore.LakossagData.MaxDecrease?.Difference fő
                    (@DataStore.LakossagData.MaxDecrease?.Name @DataStore.LakossagData.MaxDecrease?.Index)
                </h3>
            </div>
            <div>
                <h5>Legnagyobb csökkenés százalékosan</h5>
                <h3>
                    @DataStore.LakossagData.MaxDecreasePercent?.DifferencePercent.ToString("F") %
                    (@DataStore.LakossagData.MaxDecreasePercent?.Name @DataStore.LakossagData.MaxDecreasePercent?.Index)
                </h3>
            </div>
        </p>
        <br />
        <p>Legutóbbi frissítés: @DataStore.LastRefresh.ToString("yyyy-MM-dd hh:mm")</p>
    }
    <br />
    @if (!DataStore.IsEmpty)
    {
<p>
    <h3>A december óta legtöbb új lakossal gyarapodó választókerületek</h3>
    <br />
    <table width="75%" class="align-content-center">
        <thead>
            <tr><th><h4>Választókerület</h4></th><th><h4>Növekedés</h4></th><th><h4>Százalék</h4></th></tr>
        </thead>
        @foreach (var item in DataStore.LakossagData.OevkItems.Where(oi => oi.Difference > 0).OrderByDescending(oi => oi.Difference).Take(20))
        {
            <tr><td class="text-left">@item.Name @item.Index</td><td>@item.Difference fő</td><td>@item.DifferencePercent.ToString("F1") %</td></tr>
        }
    </table>
</p>
    }
    <br />
    <p><img src="images/leadimage.png" width="75%"/></p>
</div>
