@page
@model IndexModel
@{
    ViewData["Title"] = "Választás 2022 - Egységben Magyarországért";
}

<div class="text-center">
    <h1 class="display-4">Voksturizmus-figyelő</h1>
    <p class="main-block">
        A 2022-es országgyűlési választáson fontos lesz látni, hogy mennyit változik az egyes választókerületekben
        a bejelentett lakók száma. Ha egy településre túl sokan jelentkeznek be, az voksturizmusra utalhat.
    </p>
    <p class="main-block">
        Ez az oldal ennek nyomon követésében segít. Mivel a Választási Iroda december óta hetente közzéteszi,
        hogy pontosan hányan vannak bejelentve kerületenként, a kirívó esetek könnyen észrevehetők.
    </p>
    <p class="main-block">
        Kiemeltük a december óta <strong>legtöbbet változott kerületeket</strong>, alul pedig a teljes lista böngészhető.
    </p>
    @if (DataStore.IsEmpty)
    {
        <script language="javascript">
            setTimeout(function(){
                window.location.reload();
            }, 3000);
        </script>
        <p><h2>Még nincsenek adatok, kis türelmet kérek <img src="images/Spinner-1s-68px.gif"/></h2>
            Ha sokáig nem történik semmi, kérlek frissítsd az oldalt!</p>
        <p>
            Töltsd le a teljes listát a
            <a href="https://www.valasztas.hu/telepulesek-lakossag-es-valasztopolgarszama" target="_blank">Választási Iroda oldaláról</a>.
        </p>
    }
    else
    {
        <p>
            Töltsd le a teljes listát a
            <a href="https://www.valasztas.hu/telepulesek-lakossag-es-valasztopolgarszama" target="_blank">Választási Iroda oldaláról</a>, vagy innen 
            <a href="/data/lakossag-data.json">JSON formátumban</a>.
        </p>
        <br/>
        <p>
            <div class="container info-highlight">
                <div class="row">
                    <div class="col-sm">
                        @*<img src="images/chart-growth.png" alt="növekedés"/>*@
                        <h5>Gyarapodás 2021. december óta</h5>
                        <h4 class="info-highlight">
                            +@DataStore.LakossagData.MaxIncrease?.Difference fő
                            (@DataStore.LakossagData.MaxIncrease?.Name @DataStore.LakossagData.MaxIncrease?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        @*<img src="images/percent.png" alt="növekedés százalékosan" />*@
                        <h5>Százalékos gyarapodás december óta</h5>
                        <h4 class="info-highlight">
                            +@DataStore.LakossagData.MaxIncreasePercent?.DifferencePercent.ToString("F") %
                            (@DataStore.LakossagData.MaxIncreasePercent?.Name @DataStore.LakossagData.MaxIncreasePercent?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        @*<img src="images/chart-decrease.png" alt="csökkenés" />*@
                        <h5>Csökkenés 2021. december óta</h5>
                        <h4 class="info-highlight">
                            @DataStore.LakossagData.MaxDecrease?.Difference fő
                            (@DataStore.LakossagData.MaxDecrease?.Name @DataStore.LakossagData.MaxDecrease?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        @*<img src="images/percent.png" alt="csökkenés százalékosan" />*@
                        <h5>Százalékos csökkenés december óta</h5>
                        <h4 class="info-highlight">
                            @DataStore.LakossagData.MaxDecreasePercent?.DifferencePercent.ToString("F") %
                            (@DataStore.LakossagData.MaxDecreasePercent?.Name @DataStore.LakossagData.MaxDecreasePercent?.Index)
                        </h4>
                    </div>
                </div>
            </div>
        </p>
        <br />
        <p>Legutóbbi frissítés: @DataStore.LastRefresh.ToCentralEuropean().ToString("yyyy-MM-dd HH:mm")</p>
    }
    <br />
    @if (!DataStore.IsEmpty)
    {
<p>
    <h3>Az összes választókerület változása</h3>
    <br />
    <div class="container">
        <div class="row table-header">
            <div class="col-sm"></div>
            <div class="col-4 text-left"><h4>Választókerület</h4></div>
            <div class="col-3"><h4>Változás 2021. december óta</h4></div>
            <div class="col-2"><h4>Százalék</h4></div>
            <div class="col-sm"></div>
        </div>

        @foreach (var item in DataStore.LakossagData.OevkItems.OrderByDescending(oi => oi.Difference))
        {
            <div class="row table-text">
                <div class="col-sm"></div>
                <div class="col-4 text-left">@item.Name @item.Index</div>
                <div class="col-3 text-center">@(item.Difference > 0 ? "+" : "")@item.Difference fő</div>
                <div class="col-2">@item.DifferencePercent.ToString("F1") %</div>
                <div class="col-sm"></div>
            </div>
        }
    </div>

</p>
    }
    <br />
    <p><img src="images/leadimage.png" width="75%"/></p>
</div>
