@page
@model IndexModel
@{
    ViewData["Title"] = "Választás 2022 - Egységben Magyarországért";
}

<div class="text-center">
    <h1 class="display-4">Voksturizmus-figyelő</h1>
    <p class="main-block">
        A Fidesz novemberben sunyi módon, egy salátatörvénybe rejtve lényegében legalizálta a voksturizmust. 
        Ezzel egy-egy lakásba tömegesen jelentkezhetnek be olyanok, akik ténylegesen nem is az adott választókerületben 
        élnek, ezzel befolyásolva a választás eredményét. 
    </p>
    <p class="main-block">
        Szél Bernadett és Szabó Szabolcs országgyűlési képviselők azonban elérték, hogy a Nemzeti Választási Iroda 
        egészen a választás napjáig, hetente, települési bontásban hozza nyilvánosságra a névjegyzéki adatokat. 
        Ha egy településre túl sokan jelentkeznek be, az voksturizmusra utalhat. 
    </p>
    <p class="main-block">
        A választókerületek és települések lakosságszámának figyelésével segíthetjük megőrizni a választás tisztaságát, 
        és le tudjuk buktatni azokat, akik fiktív lakcímeket hoznak létre csak azért, hogy olyanok is szavazhassanak, 
        akik soha nem is jártak a környéken. Ez az oldal ennek nyomon követésében segít. 
    </p>
    <p class="main-other-info">
        Kiemeltük a december óta <strong>legtöbbet változott kerületeket</strong>, alul pedig a teljes lista böngészhető.
        Töltsd le a teljes listát a
        <a href="https://www.valasztas.hu/telepulesek-lakossag-es-valasztopolgarszama" target="_blank">Választási Iroda oldaláról</a>, 
        vagy innen <a href="/data/lakossag-data-all.json">JSON formátumban</a>.
    </p>
    @if (DataStore.IsEmpty)
    {
        <script language="javascript">
            setTimeout(function(){
                window.location.reload();
            }, 3000);
        </script>
        <p><h2>Még nincsenek adatok, kis türelmet kérek <img src="images/Spinner-1s-68px.gif"/></h2>
            Ha sokáig nem történik semmi, kérlek frissítsd az oldalt!</p>
    }
    else
    {
        <br/>
        <p>
            <div class="container info-highlight">
                <div class="row">
                    <div class="col-sm">
                        <h5>Legnagyobb gyarapodás 2021. december óta</h5>
                        <h4 class="info-highlight">
                            +@DataStore.LakossagData.MaxIncrease?.Difference fő
                            (@DataStore.LakossagData.MaxIncrease?.Name @DataStore.LakossagData.MaxIncrease?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        <h5>Legnagyobb százalékos gyarapodás december óta</h5>
                        <h4 class="info-highlight">
                            +@DataStore.LakossagData.MaxIncreasePercent?.DifferencePercent.ToString("F") %
                            (@DataStore.LakossagData.MaxIncreasePercent?.Name @DataStore.LakossagData.MaxIncreasePercent?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        <h5>Legnagyobb csökkenés 2021. december óta</h5>
                        <h4 class="info-highlight">
                            @DataStore.LakossagData.MaxDecrease?.Difference fő
                            (@DataStore.LakossagData.MaxDecrease?.Name @DataStore.LakossagData.MaxDecrease?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        <h5>Legnagyobb százalékos csökkenés december óta</h5>
                        <h4 class="info-highlight">
                            @DataStore.LakossagData.MaxDecreasePercent?.DifferencePercent.ToString("F") %
                            (@DataStore.LakossagData.MaxDecreasePercent?.Name @DataStore.LakossagData.MaxDecreasePercent?.Index)
                        </h4>
                    </div>
                </div>
            </div>
        </p>
        <br />
        <p>Legutóbbi frissítés: @DataStore.LastRefresh.ToCentralEuropean().ToString("yyyy-MM-dd HH:mm")</p>
    }
    <br />
    @if (!DataStore.IsEmpty)
    {
<p>
    <h3>Az összes választókerület változása</h3>
    <br />
    <div class="container">
        <div class="row table-header">
            <div class="col-sm"></div>
            <div class="col-4 text-left"><h4>Választókerület</h4></div>
            <div class="col-3"><h4>Változás 2021. december óta</h4></div>
            <div class="col-2"><h4>Százalék</h4></div>
            <div class="col-sm"></div>
        </div>

        @foreach (var item in DataStore.LakossagData.OevkItems.OrderByDescending(oi => oi.Difference))
        {
            <div class="row table-text">
                <div class="col-sm"></div>
                <div class="col-4 text-left">@item.Name @item.Index</div>
                <div class="col-3 text-center">@(item.Difference > 0 ? "+" : "")@item.Difference fő</div>
                <div class="col-2">@item.DifferencePercent.ToString("F1") %</div>
                <div class="col-sm"></div>
            </div>
        }
    </div>

</p>
    }
    <br />
    <p><img src="images/leadimage.png" width="75%"/></p>
</div>
