@page
@model IndexModel
@{
    ViewData["Title"] = "Választás 2022 - Egységben Magyarországért";
}

<div class="text-center">
    <h1 class="display-4">Települések lakosság- és választópolgárszáma</h1>
    <br/>
    <h5>
        A 2022-es országgyűlési választáson fontos lesz látni, hogy mennyit változik az egyes választókerületekben
        a bejelentett lakók száma. Ha egy településre túl sokan jelentkeznek be, az voksturizmusra utalhat.
    </h5>
    <h5>
        Ez az oldal ennek nyomon követésében segít. Mivel a Választási Iroda december óta hetente közzéteszi,
        hogy pontosan hányan vannak bejelentve kerületenként, a kirívó esetek könnyen észrevehetők.
    </h5>
    <h5>
        Kiemeltük a december óta legtöbbet változott kerületeket, alul pedig a teljes lista böngészhető.
    </h5>
    @if (DataStore.IsEmpty)
    {
        <script language="javascript">
            setTimeout(function(){
                window.location.reload();
            }, 3000);
        </script>
        <p><h2>Még nincsenek adatok, kis türelmet kérek <img src="images/Spinner-1s-68px.gif"/></h2>
            Ha sokáig nem történik semmi, kérlek frissítsd az oldalt!</p>
        <p>
            Töltsd le a teljes listát a
            <a href="https://www.valasztas.hu/telepulesek-lakossag-es-valasztopolgarszama" target="_blank">Választási Iroda oldaláról</a>.
        </p>
    }
    else
    {
        <p>
            Töltsd le a teljes listát a
            <a href="https://www.valasztas.hu/telepulesek-lakossag-es-valasztopolgarszama" target="_blank">Választási Iroda oldaláról</a>, vagy innen 
            <a href="/data/lakossag-data.json">JSON formátumban</a>.
        </p>
        <br />
        <p>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h5>Legnagyobb gyarapodás 2021. december óta</h5>
                        <h4>
                            +@DataStore.LakossagData.MaxIncrease?.Difference fő
                            (@DataStore.LakossagData.MaxIncrease?.Name @DataStore.LakossagData.MaxIncrease?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        <h5>Legnagyobb százalékos gyarapodás</h5>
                        <h4>
                            +@DataStore.LakossagData.MaxIncreasePercent?.DifferencePercent.ToString("F") %
                            (@DataStore.LakossagData.MaxIncreasePercent?.Name @DataStore.LakossagData.MaxIncreasePercent?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        <h5>Legnagyobb csökkenés 2021. december óta</h5>
                        <h4>
                            @DataStore.LakossagData.MaxDecrease?.Difference fő
                            (@DataStore.LakossagData.MaxDecrease?.Name @DataStore.LakossagData.MaxDecrease?.Index)
                        </h4>
                    </div>
                    <div class="col-sm">
                        <h5>Legnagyobb csökkenés százalékosan</h5>
                        <h4>
                            @DataStore.LakossagData.MaxDecreasePercent?.DifferencePercent.ToString("F") %
                            (@DataStore.LakossagData.MaxDecreasePercent?.Name @DataStore.LakossagData.MaxDecreasePercent?.Index)
                        </h4>
                    </div>
                </div>
            </div>
        </p>
        <br />
        <p>Legutóbbi frissítés: @DataStore.LastRefresh.ToCentralEuropean().ToString("yyyy-MM-dd HH:mm")</p>
    }
    <br />
    @if (!DataStore.IsEmpty)
    {
<p>
    <h3>Az összes választókerület változása</h3>
    <br />
    <table width="75%" class="align-content-center">
        <thead>
            <tr><th><h4>Választókerület</h4></th><th><h4>Változás 2021. december óta</h4></th><th><h4>Százalék</h4></th></tr>
        </thead>
        @foreach (var item in DataStore.LakossagData.OevkItems.OrderByDescending(oi => oi.Difference))
        {
            <tr><td class="text-left">@item.Name @item.Index</td><td>@(item.Difference > 0 ? "+" : "")@item.Difference fő</td><td>@item.DifferencePercent.ToString("F1") %</td></tr>
        }
    </table>
</p>
    }
    <br />
    <p><img src="images/leadimage.png" width="75%"/></p>
</div>
